@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.noscroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .noscroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

@font-face {
    font-family: "Moulpali";
    font-weight: bold;
    size-adjust: 90%;
    src: url('/fonts/Moulpali-Regular.woff') format('woff'), url('/fonts/Moulpali-Regular.woff2') format('woff2');
}
@font-face {
    font-family: "Krasar";
    size-adjust: 110%;
    src: url('/fonts/Krasar-Regular.woff') format('woff'), url('/fonts/Krasar-Regular.woff2') format('woff2');
}

@font-face {
    font-family: "Boeung";
    size-adjust: 100%;
    src: url('/fonts/KhBoeung.woff') format('woff'), url('/fonts/KhBoeung.woff2') format('woff2');
}